.main-container{
    width:450px;
    height: 550px;
    border:2px solid;
    border-radius: 10px;
    margin-left: 35%;
    margin-top:5%;
    background-color:black;
    color: white;

}
.container1{
      width: 100px;
      height: 100px;
      position:sticky;
      
      
      
}
.bi {
   font-size: 40px;
   
}
h3{
      display:inline-block;
      top: 0%;
      right: 0;
      font-size: 30px;
      margin: 0;
      padding: 2px 5px;
}
.scroll{
     width:450px;
    height: 400px;
    overflow:scroll;
     scrollbar-width:none;
      background-color: lightslategray;
     color: white; 
}
.right{
    text-align: right;
    margin-left: 10%;
}
     
.highlight {
            background-color: lightgrey; 
            color: black;
            padding: 2px 6px;
            border-radius: 5px;
}
.highlight1{
           background-color:lightyellow; 
            color: black;
            padding: 2px 6px;
            border-radius: 5px;
}
.left{
    text-align: left;
    margin-right: 10%;
   
}


.container-2{
      width: 100px;
      height: 100px;
      position:sticky;
}
